html {
    color-scheme: dark!important
}

* {
    font-family: "Segoe UI Variable Text","Segoe UI","Helvetica Neue",Helvetica,Verdana,Tahoma,Geneva,Arial,sans-serif;
    border: 0!important
}

.container_gray,.page_body {
    border-radius: 8px;
    background: rgba(43,45,49,.7)
}

.bottom-part,.left_block,.ovk-photo-view,body {
    background: #111
}

.ovk-photo-view {
    border-radius: 4px
}

.page_footer .link,div,h1,h2,label,li,p,small,span {
    color: #fff!important
}

a {
    color: #479ef5
}

.page_yellowheader,h4 {
    font-family: "Segoe UI Variable Display","Segoe UI","Helvetica Neue",Helvetica,Verdana,Tahoma,Geneva,Arial,sans-serif;
    font-weight: 600;
    font-size: 16px
}

h4 {
    border-bottom: 0;
    color: #fff
}

.page_yellowheader {
    padding: 6px 14px
}

.page_yellowheader a,.page_yellowheader b {
    opacity: .5;
    color: #fff
}

#backdrop,#backdropDripper {
    display: none
}

#standaloneCommentBox,.commentsTextFieldWrap,.content_subtitle,.content_title_expanded,.content_title_unexpanded,.expand_button {
    background-color: transparent
}

.container_gray .content,.page_header,.page_yellowheader {
    background: 0 0
}

#profile_link,.button,.profile_link {
    border-radius: 4px;
    outline: 0;
    padding: 6px 25px!important;
    text-shadow: none;
    background-color: rgba(255,255,255,.0605);
    border-color: rgba(255,255,255,.09) rgba(255,255,255,.07) rgba(255,255,255,.07);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

#profile_link,.profile_link {
    font-size: 12px;
    text-align: center
}

#profile_links,.action_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0
}

#profile_link:has(a[href="/edit"]),input[type=submit] {
    background-color: #3da8ff;
    border-color: rgba(255,255,255,.08) rgba(255,255,255,.08) rgba(0,0,0,.4);
    color: rgba(0,0,0,100%)
}

a[href="/edit"] {
    color: rgba(0,0,0,100%)
}

input[type=email],input[type=password],input[type=phone],input[type=search],input[type=text],input[type~=date],input[type~=email],input[type~=password],input[type~=phone],input[type~=search],input[type~=text],select {
    padding-left: 10px;
    font-family: "Segoe UI Variable Text","Segoe UI","Helvetica Neue",Helvetica,Verdana,Tahoma,Geneva,Arial,sans-serif;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: 32px;
    background-color: rgba(255,255,255,.0605)!important;
    border: 1px solid;
    border-bottom-width: 2px;
    border-color: rgba(255,255,255,.0698)!important;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: rgba(255,255,255,.786)
}

input[type=email]:focus,input[type=password]:focus,input[type=phone]:focus,input[type=search]:focus,input[type=text]:focus,input[type~=date]:focus,input[type~=email]:focus,input[type~=password]:focus,input[type~=phone]:focus,input[type~=search]:focus,input[type~=text]:focus,select:focus {
    border: 1px solid;
    border-bottom: 2px solid #0076d6!important;
    background-color: rgba(30,30,30,.7);
    color: #fff;
    border-color: rgba(255,255,255,.0698)
}

textarea {
    font-size: 14px;
    padding: 11px 16px;
    resize: none;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.0605);
    border: 1px solid;
    border-bottom-width: 2px;
    border-color: rgba(255,255,255,.0698);
    border-radius: 4px;
    color: #fff
}

input[type=checkbox],input[type=radio] {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 20px;
    width: 20px;
    outline: 0;
    cursor: pointer;
    vertical-align: middle;
    margin: 4px 3px 3px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8.5' y='8.5' width='15' height='15' rx='1.5' stroke='%23ADADAD'/%3E%3C/svg%3E%0A");
    background-position: -6px -6px
}

input[type=radio] {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='7.5' stroke='%23ADADAD'/%3E%3C/svg%3E")
}

input[type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8' y='8' width='16' height='16' rx='2' fill='%23479EF5'/%3E%3Cpath d='M19.765 13.2047C20.0661 13.4892 20.0797 13.9638 19.7953 14.265L15.5453 18.765C15.4061 18.9123 15.2133 18.997 15.0107 18.9999C14.8081 19.0028 14.6129 18.9236 14.4697 18.7803L12.2197 16.5303C11.9268 16.2374 11.9268 15.7626 12.2197 15.4697C12.5126 15.1768 12.9874 15.1768 13.2803 15.4697L14.9846 17.174L18.7047 13.235C18.9891 12.9339 19.4638 12.9203 19.765 13.2047Z' fill='%23242424'/%3E%3C/svg%3E");
    background-position: -6px -6px
}

input[type=checkbox]:hover:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8' y='8' width='16' height='16' rx='2' fill='%2362ABF5'/%3E%3Cpath d='M19.765 13.2047C20.0661 13.4892 20.0797 13.9638 19.7953 14.265L15.5453 18.765C15.4061 18.9123 15.2133 18.997 15.0107 18.9999C14.8081 19.0028 14.6129 18.9236 14.4697 18.7803L12.2197 16.5303C11.9268 16.2374 11.9268 15.7626 12.2197 15.4697C12.5126 15.1768 12.9874 15.1768 13.2803 15.4697L14.9846 17.174L18.7047 13.235C18.9891 12.9339 19.4638 12.9203 19.765 13.2047Z' fill='%23242424'/%3E%3C/svg%3E%0A");
    background-position: -6px -6px
}

input[type=checkbox]:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8.5' y='8.5' width='15' height='15' rx='1.5' stroke='%23BDBDBD'/%3E%3C/svg%3E");
    background-position: -6px -6px
}

input[type=radio]:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 16C24 20.1421 20.6421 23.5 16.5 23.5C12.3579 23.5 9 20.1421 9 16C9 11.8579 12.3579 8.5 16.5 8.5C20.6421 8.5 24 11.8579 24 16Z' stroke='%23479EF5'/%3E%3Ccircle cx='16.5' cy='16' r='5' fill='%23479EF5'/%3E%3C/svg%3E%0A");
    background-position: -6px -6px
}

input[type=radio]:checked:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 16C24 20.1421 20.6421 23.5 16.5 23.5C12.3579 23.5 9 20.1421 9 16C9 11.8579 12.3579 8.5 16.5 8.5C20.6421 8.5 24 11.8579 24 16Z' stroke='%2362ABF5'/%3E%3Ccircle cx='16.5' cy='16' r='5' fill='%2362ABF5'/%3E%3C/svg%3E%0A");
    background-position: -6px -6px
}

input[type=radio]:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='7.5' stroke='%23BDBDBD'/%3E%3C/svg%3E%0A");
    background-position: -6px -6px
}

body.dimmed>.dimmer {
    backdrop-filter: blur(24px)
}

#upload_container,.header_navigation .link,.searchList #used,.settings_delete,.showMore,.showMoreAudiosPlaylist,.topGrayBlock,div[style="position: fixed;z-index: 1007;width: 92%;background: white;margin-top: -5px;padding-top: 6px;"] {
    background: 0 0!important
}

.searchList #used:before {
    display: block;
    content: "";
    border-left: 3px solid #479ef5!important;
    border-radius: 10px;
    margin-left: -10px;
    margin-right: 7px;
    height: 15px;
    width: 0
}

.searchList #used {
    display: flex;
    font-weight: 500
}

.content_title_expanded,.content_title_unexpanded {
    background-image: none!important;
    padding: 3px 8px
}

.small-textarea {
    height: 43px
}

#audio_upload,.bigPlayer,.postFeedWrapper,.searchOptionName,.searchOptions {
    background-color: transparent
}

.navigation .link {
    padding: 10px 10px 10px 13px;
    border-radius: 4px;
    color: #fff
}

.msg br,.navigation .edit-button,.searchHide {
    display: none
}

#activetabs,#profile_link:hover,#wallAttachmentMenu>a,.audioEntry,.navigation .link,.page_footer .link,.paginator a,.post-like-button,.post-share-button,.profile_link,.searchList a,.tab,input,select {
    transition: .2s
}

#wallAttachmentMenu>a:hover,.audioEntry.nowPlaying,.expand_button:hover,.navigation .link:hover,.page_footer .link:hover,.paginator a:hover,.post-like-button:hover,.post-share-button:hover,.toTop,a[href^="javascript:expand_comment_textarea"]:hover {
    background-color: #383838
}

#wallAttachmentMenu>a:active,.audioEntry.nowPlaying:hover,.navigation .link:active,.page_footer .link:active,.paginator a:active,.post-like-button:active,.post-share-button:active {
    background-color: #2e2e2e!important
}

#activetabs:hover,#profile_link:hover,.attachAudio:hover,.audioEntry:hover,.crp-entry:hover,.profile_link:hover,.searchList #used:hover,.searchList a:hover,.tab:hover {
    background: #383838!important
}

.audioEntry {
    border-radius: 8px!important
}

.audioEntry .performer a,.searchList a,.searchList a:hover,.searchList li {
    color: #d6d6d6!important
}

.searchList a,.searchList li {
    display: block;
    margin-left: 0;
    cursor: pointer;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    margin-bottom: 2px;
    padding-left: 10px!important;
    border-radius: 4px
}

.friendsAudiosList .elem:hover {
    background: 0 0
}

.ovk-diag-action {
    padding: 10px;
    height: 25%;
    text-align: right
}

.ovk-diag-head {
    background-color: transparent;
    border-bottom: 0;
    padding: 24px;
    font-weight: 600
}

.ovk-diag {
    margin: 10px auto;
    width: calc(100% - 20px);
    background-color: #292929;
    border: 0;
    border-radius: 8px
}

.ovk-diag-action,.ovk-diag-cont {
    background-color: transparent
}

.messagebox-content-header {
    background: rgba(255,255,255,.05)
}

#wallAttachmentMenu,.msg,.page_status_popup {
    background-color: #292929;
    border-radius: 4px
}

#wallAttachmentMenu>.header {
    padding: 8px 12px;
    background-color: #141414;
    text-align: center;
    border-radius: 4px;
    overflow: hidden
}

#wallAttachmentMenu>a {
    display: flex;
    gap: 5px;
    padding: 8px 12px;
    cursor: pointer
}

.msg {
    display: flex;
    width: 95%;
    margin: 0 0 5pt 5px;
    padding: 8pt;
    border: 1pt solid #667e96;
    background-color: #e6f2f3;
    align-items: center;
    gap: 8px
}

.msg.msg_succ {
    border: solid 1pt #107c10!important;
    background-color: #052505
}

.msg.msg_succ:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0ZM11.3584 5.64645C11.1849 5.47288 10.9154 5.4536 10.7206 5.58859L10.6513 5.64645L7 9.298L5.35355 7.65131L5.28431 7.59346C5.08944 7.45846 4.82001 7.47775 4.64645 7.65131C4.47288 7.82488 4.4536 8.09431 4.58859 8.28917L4.64645 8.35842L6.64645 10.3584L6.71569 10.4163C6.8862 10.5344 7.1138 10.5344 7.28431 10.4163L7.35355 10.3584L11.3584 6.35355L11.4163 6.28431C11.5513 6.08944 11.532 5.82001 11.3584 5.64645Z' fill='%2354B054'/%3E%3C/svg%3E%0A");
    margin-bottom: -3px
}

.msg.msg_err {
    border: solid 1pt #c50f1f!important;
    background-color: #3b0509
}

.msg.msg_err:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0ZM5.80943 5.11372C5.61456 4.97872 5.34514 4.99801 5.17157 5.17157L5.11372 5.24082C4.97872 5.43569 4.99801 5.70511 5.17157 5.87868L7.29289 8L5.17157 10.1213L5.11372 10.1906C4.97872 10.3854 4.99801 10.6549 5.17157 10.8284L5.24082 10.8863C5.43569 11.0213 5.70511 11.002 5.87868 10.8284L8 8.70711L10.1213 10.8284L10.1906 10.8863C10.3854 11.0213 10.6549 11.002 10.8284 10.8284L10.8863 10.7592C11.0213 10.5643 11.002 10.2949 10.8284 10.1213L8.70711 8L10.8284 5.87868L10.8863 5.80943C11.0213 5.61456 11.002 5.34514 10.8284 5.17157L10.7592 5.11372C10.5643 4.97872 10.2949 4.99801 10.1213 5.17157L8 7.29289L5.87868 5.17157L5.80943 5.11372Z' fill='%23DC626D'/%3E%3C/svg%3E%0A");
    margin-bottom: -3px
}

#activetabs,.mb_tabs,center {
    background: 0 0!important
}

#activetabs:after {
    display: block;
    content: "";
    border-bottom: 3px solid #479ef5!important;
    border-radius: 10px;
    margin: 5px 8px -8px
}

#activetabs a {
    font-weight: 500;
    color: #fff
}

.tab {
    display: inline-block;
    padding: 10px 0;
    margin-right: 3px;
    border-radius: 4px
}

.tab a {
    color: #d6d6d6;
    padding: 10px 20px
}

.tabs {
    margin-bottom: 10px
}

.audioEmbed .track>.selectableTrack,.bigPlayer .selectableTrack {
    overflow: hidden;
    position: relative;
    height: 5px;
    border-top: 0;
    background-color: rgba(255,255,255,.24);
    border-radius: 2.5px
}

.slider {
    position: relative;
    overflow: visible
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: -620px;
    width: 620px;
    height: 100%;
    background-color: #fff
}

.audioEmbed .track .slider,.bigPlayer .paddingLayer .slider {
    width: 3px;
    height: 5px;
    background: #fff
}

.lagged {
    filter: none
}

.audioEntry .subTracks,.selectableTrack:hover .slider::after {
    opacity: 1
}

div[style="width: 95%;position: relative;"] {
    width: 100%!important
}

.notifications_global_wrap {
    top: 50px;
    right: 0;
    flex-direction: column
}

.notification_ballon_wrap {
    margin: 0 0 14px 14px
}

.notification_ballon {
    border-radius: 4px;
    background-color: #292929;
    height: auto;
    padding-bottom: 10px
}

.notification_ballon notification_title {
    font-weight: 600
}

.addToPlaylist span,.edit_link {
    font-size: 0
}

.edit_link:after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.73605 1.56067C8.4836 0.813113 9.69562 0.81311 10.4432 1.56066C11.1907 2.3082 11.1907 3.52021 10.4432 4.26776L10.209 4.50192L7.50192 1.79481L7.73605 1.56067ZM6.79482 2.50192L1.65036 7.64647C1.58074 7.71609 1.53323 7.80471 1.51377 7.90123L1.00987 10.4012C0.976812 10.5652 1.02796 10.7349 1.14614 10.8533C1.26432 10.9716 1.43387 11.0231 1.59792 10.9903L4.10183 10.4903C4.19868 10.471 4.28763 10.4234 4.35747 10.3536L9.50192 5.20903L6.79482 2.50192Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    margin-left: 5px
}

.heart,.repost-icon {
    background: 0 0;
    height: 16px;
    margin: 0;
    width: 16px
}

.heart {
    float: none;
    opacity: .4;
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.54112 3.94584C6.26943 2.67415 4.21207 2.66797 2.94588 3.93416C1.67969 5.20035 1.68587 7.25771 2.95756 8.5294L7.66505 13.2369C7.86031 13.4322 8.1769 13.4322 8.37216 13.2369L13.0552 8.55662C14.3184 7.28632 14.3144 5.23472 13.0425 3.96281C11.7686 2.68884 9.71024 2.68265 8.44178 3.95111L7.99452 4.39924L7.54112 3.94584ZM12.3461 7.85149L8.01861 12.1762L3.66467 7.8223C2.78255 6.94018 2.77827 5.51598 3.65299 4.64127C4.5277 3.76655 5.9519 3.77083 6.83402 4.65295L7.64337 5.4623C7.84197 5.6609 8.16514 5.65701 8.35889 5.45368L9.14889 4.65822C10.0259 3.78124 11.451 3.78552 12.3354 4.66991C13.2178 5.55225 13.2205 6.9722 12.3461 7.85149Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

#liked {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.54112 3.94584C6.26943 2.67415 4.21207 2.66797 2.94588 3.93416C1.67969 5.20035 1.68587 7.25771 2.95756 8.5294L7.66505 13.2369C7.86031 13.4322 8.1769 13.4322 8.37216 13.2369L13.0552 8.55662C14.3184 7.28632 14.3144 5.23472 13.0425 3.96281C11.7686 2.68884 9.71024 2.68265 8.44178 3.95111L7.99452 4.39924L7.54112 3.94584Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.repost-icon {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.307 2.10533C10.1562 1.98809 9.95188 1.96694 9.78034 2.05085C9.60879 2.13475 9.50001 2.30904 9.50001 2.5V4.49274C9.45712 4.49456 9.41219 4.49701 9.36537 4.5002C8.96247 4.52766 8.41128 4.61105 7.82119 4.83704C7.11343 5.10809 6.34877 5.58508 5.72601 6.41126C5.10338 7.23727 4.64499 8.38259 4.50206 9.95474C4.48301 10.1644 4.5973 10.3635 4.78793 10.4528C4.97857 10.5421 5.20471 10.5024 5.35356 10.3536C6.54248 9.16464 7.72298 8.57773 8.59562 8.28685C8.9558 8.16679 9.2643 8.09693 9.50001 8.0563V10C9.50001 10.1969 9.61557 10.3755 9.79518 10.4561C9.9748 10.5368 10.185 10.5045 10.3322 10.3737L14.8322 6.37371C14.9432 6.27502 15.0046 6.13207 14.9997 5.98361C14.9949 5.83514 14.9242 5.69653 14.807 5.60533L10.307 2.10533ZM9.94293 5.49679L9.94571 5.49705C10.0865 5.51223 10.2279 5.46706 10.3335 5.37257C10.4394 5.27772 10.5 5.14223 10.5 5V3.52232L13.7186 6.02564L10.5 8.88658V7.5C10.5 7.22386 10.2762 7 10 7L9.99892 7L9.99759 7.00001L9.99425 7.00003L9.98483 7.00014L9.9552 7.00087C9.93074 7.00166 9.89695 7.00316 9.85445 7.00599C9.76945 7.01166 9.64951 7.02268 9.49961 7.04409C9.1999 7.08691 8.77971 7.17139 8.2794 7.33816C7.55493 7.57965 6.66479 7.99299 5.7319 8.69863C5.9264 7.98158 6.2077 7.43355 6.52456 7.01319C7.01593 6.36132 7.61523 5.98675 8.17883 5.7709C8.65371 5.58903 9.10252 5.52044 9.43338 5.49788C9.59809 5.48666 9.73137 5.48699 9.82114 5.48988C9.86596 5.49133 9.89972 5.49341 9.92089 5.49498L9.94293 5.49679ZM4.5 3C3.11929 3 2 4.11929 2 5.5V11.5C2 12.8807 3.11929 14 4.5 14H10.5C11.8807 14 13 12.8807 13 11.5V10.5C13 10.2239 12.7761 10 12.5 10C12.2239 10 12 10.2239 12 10.5V11.5C12 12.3284 11.3284 13 10.5 13H4.5C3.67157 13 3 12.3284 3 11.5V5.5C3 4.67157 3.67157 4 4.5 4H6.5C6.77614 4 7 3.77614 7 3.5C7 3.22386 6.77614 3 6.5 3H4.5Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.bigPlayer .paddingLayer .playButtons .playButton {
    content: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2C7.37258 2 2 7.37258 2 14C2 20.6274 7.37258 26 14 26C20.6274 26 26 20.6274 26 14C26 7.37258 20.6274 2 14 2ZM12.7658 9.27776L19.2709 13.1401C19.9235 13.5276 19.9235 14.4724 19.2709 14.8598L12.7658 18.7222C11.7659 19.3159 10.5 18.5953 10.5 17.4324V10.5675C10.5 9.40469 11.7659 8.68408 12.7658 9.27776Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.bigPlayer .paddingLayer .playButtons .playButton.pause {
    content: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM10.5 8.25V15.75C10.5 16.1642 10.1642 16.5 9.75 16.5C9.33579 16.5 9 16.1642 9 15.75V8.25C9 7.83579 9.33579 7.5 9.75 7.5C10.1642 7.5 10.5 7.83579 10.5 8.25ZM15 8.25V15.75C15 16.1642 14.6642 16.5 14.25 16.5C13.8358 16.5 13.5 16.1642 13.5 15.75V8.25C13.5 7.83579 13.8358 7.5 14.25 7.5C14.6642 7.5 15 7.83579 15 8.25Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.musicIcon {
    background-image: none
}

.bigPlayer .paddingLayer .playButtons .backButton {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.99998 4.753C2.99998 3.34519 4.57779 2.51363 5.73913 3.30937L16.2376 10.5028C17.2478 11.1949 17.253 12.6839 16.2476 13.3831L5.74918 20.6847C4.58885 21.4917 2.99998 20.6613 2.99998 19.248V4.753ZM20.9999 3.75C20.9999 3.33579 20.6641 3 20.2499 3C19.8357 3 19.4999 3.33579 19.4999 3.75V20.25C19.4999 20.6642 19.8357 21 20.2499 21C20.6641 21 20.9999 20.6642 20.9999 20.25V3.75Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.bigPlayer .paddingLayer .playButtons .nextButton {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3.75C3 3.33579 3.33579 3 3.75 3C4.16421 3 4.5 3.33579 4.5 3.75V20.25C4.5 20.6642 4.16421 21 3.75 21C3.33579 21 3 20.6642 3 20.25V3.75ZM20.9999 4.753C20.9999 3.34519 19.4221 2.51363 18.2608 3.30937L7.76231 10.5028C6.75214 11.1949 6.74694 12.6839 7.75226 13.3831L18.2507 20.6847C19.4111 21.4917 20.9999 20.6613 20.9999 19.248V4.753Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.action_links>a[href^="/im?sel="] {
    content: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.00003 14C2.00003 7.37258 7.37261 2 14 2C20.6274 2 26 7.37258 26 14C26 20.6274 20.6274 26 14 26C11.964 26 10.0446 25.4924 8.36332 24.5963L3.59342 25.9527C2.65148 26.2206 1.78133 25.3504 2.04919 24.4085L3.40531 19.6396C2.50826 17.9577 2.00003 16.0372 2.00003 14ZM9.5 11.75C9.5 12.1642 9.83579 12.5 10.25 12.5H17.75C18.1642 12.5 18.5 12.1642 18.5 11.75C18.5 11.3358 18.1642 11 17.75 11H10.25C9.83579 11 9.5 11.3358 9.5 11.75ZM10.25 15.5C9.83579 15.5 9.5 15.8358 9.5 16.25C9.5 16.6642 9.83579 17 10.25 17H14.75C15.1642 17 15.5 16.6642 15.5 16.25C15.5 15.8358 15.1642 15.5 14.75 15.5H10.25Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    padding: 8px!important;
    height: 36px;
    width: 36px
}

.post-like-button,.post-share-button,a[href^="javascript:expand_comment_textarea"] {
    display: flex;
    padding: 3px 6px;
    border-radius: 2px;
    transition-duration: .2s
}

.likeCnt:empty {
    margin-right: 0
}

.post-menu .date {
    float: inline-start
}

.post-menu {
    width: auto
}

.tippy-box[data-theme~=vk] {
    background-color: #232427;
    border-radius: 8px
}

.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:after,.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #232427
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:after,.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #232427
}

div[style="float: right; font-size: .7rem;"] {
    float: left!important
}

a[href^="javascript:expand_comment_textarea"] {
    clear: both;
    float: left;
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.5C1 3.11929 2.11929 2 3.5 2H12.5C13.8807 2 15 3.11929 15 4.5V9.5C15 10.8807 13.8807 12 12.5 12H8.68787L5.62533 14.6797C4.99168 15.2342 4 14.7842 4 13.9422V12H3.5C2.11929 12 1 10.8807 1 9.5V4.5ZM3.5 3C2.67157 3 2 3.67157 2 4.5V9.5C2 10.3284 2.67157 11 3.5 11H5V13.8981L8.31213 11H12.5C13.3284 11 14 10.3284 14 9.5V4.5C14 3.67157 13.3284 3 12.5 3H3.5Z' fill='%23888888'/%3E%3C/svg%3E%0A")
}

.home_button:after {
    content: "FluentOVK";
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 45px;
    margin-left: 10px
}

.name-checkmark {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3362 2.06642L11.4126 2.21898L11.989 3.75197C12.0343 3.87269 12.1296 3.96795 12.2503 4.01324L13.7304 4.56851C14.3799 4.81218 14.7289 5.50622 14.5558 6.16287L14.5142 6.29356L13.8256 7.81639C13.7723 7.93378 13.7723 8.06849 13.8256 8.18588L14.4796 9.62509C14.7665 10.2567 14.5226 10.9942 13.9358 11.3362L13.7833 11.4126L12.2503 11.989C12.1296 12.0343 12.0343 12.1296 11.989 12.2503L11.4338 13.7304C11.1901 14.3799 10.496 14.7289 9.83939 14.5558L9.7087 14.5142L8.18588 13.8256C8.06849 13.7723 7.93378 13.7723 7.81639 13.8256L6.37718 14.4796C5.74561 14.7665 5.00805 14.5226 4.66611 13.9358L4.58969 13.7833L4.01324 12.2503C3.96795 12.1296 3.87269 12.0343 3.75197 11.989L2.27189 11.4338C1.62239 11.1901 1.27337 10.496 1.44644 9.83939L1.48808 9.7087L2.17665 8.18588C2.22999 8.06849 2.22999 7.93378 2.17665 7.81639L1.52272 6.37718C1.23575 5.74561 1.47971 5.00805 2.06642 4.66611L2.21898 4.58969L3.75197 4.01324C3.87269 3.96795 3.96795 3.87269 4.01324 3.75197L4.56851 2.27189C4.81218 1.62239 5.50622 1.27337 6.16287 1.44644L6.29356 1.48808L7.81639 2.17665C7.93378 2.22999 8.06849 2.22999 8.18588 2.17665L9.62509 1.52272C10.2567 1.23575 10.9942 1.47971 11.3362 2.06642ZM10.165 5.70704L6.97938 9.34779L5.81693 8.18534C5.64252 8.01093 5.35975 8.01093 5.18534 8.18534C5.01093 8.35975 5.01093 8.64252 5.18534 8.81693L6.68534 10.3169C6.86801 10.4996 7.16712 10.4896 7.33724 10.2952L10.8372 6.29522C10.9997 6.1096 10.9808 5.82745 10.7952 5.66503C10.6096 5.50261 10.3275 5.52142 10.165 5.70704Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    margin-left: 1pt;
    margin-bottom: -4px
}

.post-author .name-checkmark {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3362 2.06642L11.4126 2.21898L11.989 3.75197C12.0343 3.87269 12.1296 3.96795 12.2503 4.01324L13.7304 4.56851C14.3799 4.81218 14.7289 5.50622 14.5558 6.16287L14.5142 6.29356L13.8256 7.81639C13.7723 7.93378 13.7723 8.06849 13.8256 8.18588L14.4796 9.62509C14.7665 10.2567 14.5226 10.9942 13.9358 11.3362L13.7833 11.4126L12.2503 11.989C12.1296 12.0343 12.0343 12.1296 11.989 12.2503L11.4338 13.7304C11.1901 14.3799 10.496 14.7289 9.83939 14.5558L9.7087 14.5142L8.18588 13.8256C8.06849 13.7723 7.93378 13.7723 7.81639 13.8256L6.37718 14.4796C5.74561 14.7665 5.00805 14.5226 4.66611 13.9358L4.58969 13.7833L4.01324 12.2503C3.96795 12.1296 3.87269 12.0343 3.75197 11.989L2.27189 11.4338C1.62239 11.1901 1.27337 10.496 1.44644 9.83939L1.48808 9.7087L2.17665 8.18588C2.22999 8.06849 2.22999 7.93378 2.17665 7.81639L1.52272 6.37718C1.23575 5.74561 1.47971 5.00805 2.06642 4.66611L2.21898 4.58969L3.75197 4.01324C3.87269 3.96795 3.96795 3.87269 4.01324 3.75197L4.56851 2.27189C4.81218 1.62239 5.50622 1.27337 6.16287 1.44644L6.29356 1.48808L7.81639 2.17665C7.93378 2.22999 8.06849 2.22999 8.18588 2.17665L9.62509 1.52272C10.2567 1.23575 10.9942 1.47971 11.3362 2.06642ZM10.165 5.70704L6.97938 9.34779L5.81693 8.18534C5.64252 8.01093 5.35975 8.01093 5.18534 8.18534C5.01093 8.35975 5.01093 8.64252 5.18534 8.81693L6.68534 10.3169C6.86801 10.4996 7.16712 10.4896 7.33724 10.2952L10.8372 6.29522C10.9997 6.1096 10.9808 5.82745 10.7952 5.66503C10.6096 5.50261 10.3275 5.52142 10.165 5.70704Z' fill='%23479ef5'/%3E%3C/svg%3E%0A")
}

.post-menu {
    color: transparent!important
}

.accent-box {
    background-color: rgba(255,255,255,.05);
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px
}

.minilink .counter {
    background-color: rgba(255,255,255,.25);
    line-height: 10px;
    padding: 3px;
    border-radius: 4px
}

.header_navigation .link {
    display: inline-block!important;
    background-size: 1.5px 41px;
    padding: 9px 4px 0 7px
}

#searchInput.sr {
    background: #1f1f1f url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1C2.79086 1 1 2.79086 1 5C1 7.20914 2.79086 9 5 9C5.83335 9 6.60717 8.74516 7.2478 8.30916L9.71973 10.7802C10.0127 11.0731 10.4875 11.073 10.7804 10.78C11.0732 10.4871 11.0731 10.0122 10.7802 9.71936L8.30859 7.24863C8.74494 6.60784 9 5.83371 9 5C9 2.79086 7.20914 1 5 1ZM2.5 5C2.5 3.61929 3.61929 2.5 5 2.5C6.38071 2.5 7.5 3.61929 7.5 5C7.5 6.38071 6.38071 7.5 5 7.5C3.61929 7.5 2.5 6.38071 2.5 5Z' fill='%23757575'/%3E%3C/svg%3E%0A")no-repeat 6px!important;
    height: 25px!important;
    padding-left: 23px!important;
    width: 210px!important
}

.container_gray select {
    background-color: #35373a!important
}

.ovk-diag select {
    background-color: #363636!important
}

.cookies-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #222;
    box-shadow: none;
    z-index: 2048
}

#profile_link:has(a[href="/edit"]):hover,input[type=submit]:hover {
    background-color: #0f6cbd!important;
    color: rgba(0,0,0,70%)
}

.audioEntry .playerButton .playIcon {
    background-image: none;
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM10.8556 8.15498C10.0225 7.69354 9 8.29608 9 9.24847V14.7516C9 15.704 10.0225 16.3065 10.8556 15.8451L16.6134 12.6561C16.852 12.524 17 12.2727 17 12C17 11.7273 16.852 11.4761 16.6134 11.3439L10.8556 8.15498Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    height: 20px;
    width: 20px
}

.audioEntry.nowPlaying .playIcon {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM10.5 8.25V15.75C10.5 16.1642 10.1642 16.5 9.75 16.5C9.33579 16.5 9 16.1642 9 15.75V8.25C9 7.83579 9.33579 7.5 9.75 7.5C10.1642 7.5 10.5 7.83579 10.5 8.25ZM15 8.25V15.75C15 16.1642 14.6642 16.5 14.25 16.5C13.8358 16.5 13.5 16.1642 13.5 15.75V8.25C13.5 7.83579 13.8358 7.5 14.25 7.5C14.6642 7.5 15 7.83579 15 8.25Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.bigPlayer .paddingLayer .playButtons .arrowsButtons {
    padding-top: 3.5px
}

.bigPlayer {
    width: 632px;
    box-shadow: none
}

.bigPlayer.floating {
    background-color: #2e2e2e!important
}

.paginator a {
    padding: 4px 8px;
    border-radius: 4px
}

hr {
    background-color: #333
}

.bigPlayer .paddingLayer .additionalButtons .repeatButton {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.75 5.5167C13.0059 5.5167 13.2318 5.64482 13.3672 5.84041L13.4076 5.90575C13.7833 6.51555 14 7.23332 14 8.0017C14 10.1439 12.316 11.8928 10.1996 11.9968L10 12.0017L7.555 12.001L8.27742 12.7231C8.54369 12.9893 8.56789 13.406 8.35004 13.6996L8.27742 13.7837C8.01115 14.05 7.59449 14.0742 7.30088 13.8563L7.21676 13.7837L5.21506 11.782C4.94879 11.5158 4.92459 11.0991 5.14244 10.8055L5.21506 10.7214L7.21676 8.71967C7.50965 8.42678 7.98453 8.42678 8.27742 8.71967C8.54369 8.98594 8.56789 9.4026 8.35004 9.69621L8.27742 9.78033L7.556 10.501L10 10.5017C11.3255 10.5017 12.41 9.47016 12.4947 8.16608L12.5 8.0017C12.5 7.50715 12.3564 7.04615 12.1086 6.6581C12.0404 6.54462 12 6.41038 12 6.2667C12 5.85249 12.3358 5.5167 12.75 5.5167ZM7.71967 2.21967C7.98594 1.9534 8.4026 1.9292 8.69621 2.14705L8.78033 2.21967L10.782 4.22137L10.8546 4.30549C11.0483 4.56648 11.0507 4.92469 10.8618 5.18808L10.782 5.28203L8.78033 7.28373L8.69621 7.35635C8.43522 7.55 8.07701 7.55239 7.81362 7.36352L7.71967 7.28373L7.64705 7.19961C7.4534 6.93862 7.45101 6.58041 7.63988 6.31702L7.71967 6.22307L8.441 5.501L6 5.5017C4.67452 5.5017 3.58996 6.53324 3.50532 7.83732L3.5 8.0017C3.5 8.42312 3.60427 8.82019 3.78842 9.16851L3.8976 9.35317C3.96269 9.46428 4 9.59363 4 9.73171C4 10.1459 3.66421 10.4817 3.25 10.4817C2.98206 10.4817 2.74693 10.3412 2.61428 10.1298C2.22529 9.51615 2 8.78524 2 8.0017C2 5.8595 3.68397 4.11062 5.80036 4.0066L6 4.0017L8.44 4.001L7.71967 3.28033L7.64705 3.19621C7.4292 2.9026 7.4534 2.48594 7.71967 2.21967Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.bigPlayer .paddingLayer .additionalButtons .shuffleButton {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2803 3.46967C11.9874 3.17678 11.5126 3.17678 11.2197 3.46967C10.9268 3.76256 10.9268 4.23744 11.2197 4.53033L11.4846 4.79523C9.38956 5.04908 8.11453 6.32448 7.01325 7.42608L6.96967 7.46967C5.70856 8.73078 4.65822 9.75 2.75 9.75C2.33579 9.75 2 10.0858 2 10.5C2 10.9142 2.33579 11.25 2.75 11.25C5.31145 11.25 6.75736 9.80367 7.98675 8.57392L8.03033 8.53033C9.07986 7.4808 9.98341 6.59881 11.3569 6.3324L11.2197 6.46967C10.9268 6.76256 10.9268 7.23744 11.2197 7.53033C11.5126 7.82322 11.9874 7.82322 12.2803 7.53033L13.7803 6.03033C14.0732 5.73744 14.0732 5.26256 13.7803 4.96967L12.2803 3.46967ZM2.75 4.75C4.51885 4.75 5.75571 5.43972 6.75666 6.27155C6.61355 6.41115 6.47704 6.54784 6.34616 6.67889L6.26256 6.76256C6.05796 6.96716 5.86601 7.15725 5.68192 7.33222C4.87169 6.68232 3.99278 6.25 2.75 6.25C2.33579 6.25 2 5.91421 2 5.5C2 5.08579 2.33579 4.75 2.75 4.75ZM11.4846 11.2048C10.1132 11.0386 9.09325 10.4348 8.24334 9.72845C8.38646 9.58884 8.52298 9.45214 8.65386 9.32108L8.73744 9.23744C8.94204 9.03284 9.13399 8.84275 9.31808 8.66778C9.91959 9.15026 10.5589 9.51282 11.3569 9.6676L11.2197 9.53033C10.9268 9.23744 10.9268 8.76256 11.2197 8.46967C11.5126 8.17678 11.9874 8.17678 12.2803 8.46967L13.7803 9.96967C14.0732 10.2626 14.0732 10.7374 13.7803 11.0303L12.2803 12.5303C11.9874 12.8232 11.5126 12.8232 11.2197 12.5303C10.9268 12.2374 10.9268 11.7626 11.2197 11.4697L11.4846 11.2048Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.bigPlayer .paddingLayer .additionalButtons .deviceButton {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99998 2.50001C8.99998 2.29898 8.87957 2.11749 8.69435 2.03934C8.50912 1.96119 8.2951 2.00157 8.15109 2.14185L5.22438 4.99273H3.5C2.67157 4.99273 2 5.66431 2 6.49273V9.48172C2 10.3101 2.67157 10.9817 3.5 10.9817H5.22314L8.14957 13.8567C8.29326 13.9978 8.50762 14.039 8.69337 13.9611C8.87911 13.8832 8.99998 13.7014 8.99998 13.5V2.50001ZM10.1469 6.14646C10.3422 5.9512 10.6588 5.9512 10.854 6.14646L12.0005 7.29291L13.1469 6.14646C13.3422 5.9512 13.6588 5.9512 13.854 6.14646C14.0493 6.34172 14.0493 6.65831 13.854 6.85357L12.7076 8.00001L13.854 9.14646C14.0493 9.34172 14.0493 9.65831 13.854 9.85357C13.6588 10.0488 13.3422 10.0488 13.1469 9.85357L12.0005 8.70712L10.854 9.85357C10.6588 10.0488 10.3422 10.0488 10.1469 9.85357C9.95167 9.65831 9.95167 9.34172 10.1469 9.14646L11.2934 8.00001L10.1469 6.85357C9.95167 6.65831 9.95167 6.34172 10.1469 6.14646Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.audioEntry .buttons .edit-icon {
    content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.73605 1.56067C8.4836 0.813113 9.69562 0.81311 10.4432 1.56066C11.1907 2.3082 11.1907 3.52021 10.4432 4.26776L10.209 4.50192L7.50192 1.79481L7.73605 1.56067ZM6.79482 2.50192L1.65036 7.64647C1.58074 7.71609 1.53323 7.80471 1.51377 7.90123L1.00987 10.4012C0.976812 10.5652 1.02796 10.7349 1.14614 10.8533C1.26432 10.9716 1.43387 11.0231 1.59792 10.9903L4.10183 10.4903C4.19868 10.471 4.28763 10.4234 4.35747 10.3536L9.50192 5.20903L6.79482 2.50192Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.audioEntry .buttons .remove-icon {
    content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 3H7C7 2.44772 6.55228 2 6 2C5.44772 2 5 2.44772 5 3ZM4 3C4 1.89543 4.89543 1 6 1C7.10457 1 8 1.89543 8 3L10.5 3C10.7761 3 11 3.22386 11 3.5C11 3.77614 10.7761 4 10.5 4H10.059L9.61576 9.1708C9.52709 10.2054 8.66143 11 7.62307 11H4.37693C3.33857 11 2.47291 10.2054 2.38424 9.1708L1.94102 4H1.5C1.22386 4 1 3.77614 1 3.5C1 3.22386 1.22386 3 1.5 3L4 3ZM7.5 6C7.5 5.72386 7.27614 5.5 7 5.5C6.72386 5.5 6.5 5.72386 6.5 6V8C6.5 8.27614 6.72386 8.5 7 8.5C7.27614 8.5 7.5 8.27614 7.5 8V6ZM5 5.5C4.72386 5.5 4.5 5.72386 4.5 6V8C4.5 8.27614 4.72386 8.5 5 8.5C5.27614 8.5 5.5 8.27614 5.5 8V6C5.5 5.72386 5.27614 5.5 5 5.5Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.audioEntry .buttons .add-icon-group {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4.5C8 5.88071 6.88071 7 5.5 7C4.11929 7 3 5.88071 3 4.5C3 3.11929 4.11929 2 5.5 2C6.88071 2 8 3.11929 8 4.5ZM11.5 6C10.9517 6 10.4222 6.08022 9.9225 6.22957C9.65775 5.89039 9.5 5.46362 9.5 5C9.5 3.89543 10.3954 3 11.5 3C12.6046 3 13.5 3.89543 13.5 5C13.5 5.46362 13.3423 5.89039 13.0775 6.22957C12.5778 6.08022 12.0483 6 11.5 6ZM3 8H7.25716C6.47182 8.95094 6 10.1704 6 11.5C6 11.8336 6.02971 12.1603 6.08661 12.4775C5.90131 12.4922 5.70596 12.5 5.5 12.5C1.5 12.5 1.5 9.575 1.5 9.575V9.5C1.5 8.67157 2.17157 8 3 8ZM16 11.5C16 13.9853 13.9853 16 11.5 16C9.01472 16 7 13.9853 7 11.5C7 9.01472 9.01472 7 11.5 7C13.9853 7 16 9.01472 16 11.5ZM12 9.5C12 9.22386 11.7761 9 11.5 9C11.2239 9 11 9.22386 11 9.5V11H9.5C9.22386 11 9 11.2239 9 11.5C9 11.7761 9.22386 12 9.5 12H11V13.5C11 13.7761 11.2239 14 11.5 14C11.7761 14 12 13.7761 12 13.5V12H13.5C13.7761 12 14 11.7761 14 11.5C14 11.2239 13.7761 11 13.5 11H12V9.5Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.audioEntry .buttons>* {
    width: 16px!important;
    height: 16px!important
}

.bigPlayer .paddingLayer .additionalButtons>* {
    width: 15px!important;
    height: 16px!important
}

.content_subtitle div[style="float:right;"] {
    color: #333!important
}

.content_subtitle div[style="float:right;"] a:last-child {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.73966 3.20041C5.43613 3.48226 5.41856 3.95681 5.70041 4.26034L9.22652 8L5.70041 11.7397C5.41856 12.0432 5.43613 12.5177 5.73967 12.7996C6.0432 13.0815 6.51775 13.0639 6.7996 12.7603L10.7996 8.51034C11.0668 8.22258 11.0668 7.77743 10.7996 7.48966L6.7996 3.23966C6.51775 2.93613 6.0432 2.91856 5.73966 3.20041Z' fill='%23479ef5'/%3E%3C/svg%3E%0A");
    position: absolute
}

.post-author .edit {
    background-image: none;
    content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.73605 1.56067C8.4836 0.813113 9.69562 0.81311 10.4432 1.56066C11.1907 2.3082 11.1907 3.52021 10.4432 4.26776L10.209 4.50192L7.50192 1.79481L7.73605 1.56067ZM6.79482 2.50192L1.65036 7.64647C1.58074 7.71609 1.53323 7.80471 1.51377 7.90123L1.00987 10.4012C0.976812 10.5652 1.02796 10.7349 1.14614 10.8533C1.26432 10.9716 1.43387 11.0231 1.59792 10.9903L4.10183 10.4903C4.19868 10.471 4.28763 10.4234 4.35747 10.3536L9.50192 5.20903L6.79482 2.50192Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.post-author .delete,.post-author .pin {
    background-image: none;
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0589 2.44535C9.34701 1.73087 8.14697 1.90854 7.67261 2.79864L5.6526 6.58902L2.8419 7.52592C2.6775 7.58072 2.5532 7.71673 2.51339 7.88539C2.47357 8.05404 2.52392 8.23128 2.64646 8.35382L4.79287 10.5002L2.14637 13.1467L2 14.0003L2.85348 13.8538L5.49998 11.2073L7.64646 13.3538C7.76899 13.4764 7.94623 13.5267 8.11489 13.4869C8.28354 13.4471 8.41955 13.3228 8.47435 13.1584L9.41143 10.3472L13.1897 8.32448C14.0759 7.85006 14.2538 6.65535 13.5443 5.9433L10.0589 2.44535Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.post-author .delete {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.39705 2.55379L2.46967 2.46967C2.73594 2.2034 3.1526 2.1792 3.44621 2.39705L3.53033 2.46967L8 6.939L12.4697 2.46967C12.7626 2.17678 13.2374 2.17678 13.5303 2.46967C13.8232 2.76256 13.8232 3.23744 13.5303 3.53033L9.061 8L13.5303 12.4697C13.7966 12.7359 13.8208 13.1526 13.6029 13.4462L13.5303 13.5303C13.2641 13.7966 12.8474 13.8208 12.5538 13.6029L12.4697 13.5303L8 9.061L3.53033 13.5303C3.23744 13.8232 2.76256 13.8232 2.46967 13.5303C2.17678 13.2374 2.17678 12.7626 2.46967 12.4697L6.939 8L2.46967 3.53033C2.2034 3.26406 2.1792 2.8474 2.39705 2.55379L2.46967 2.46967L2.39705 2.55379Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.ovk-video>.preview,.video-preview {
    box-shadow: none;
    background-color: transparent;
    height: auto
}

img[src="/assets/packages/static/openvk/img/friends.svg"] {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 2C7.79086 2 6 3.79086 6 6C6 8.20914 7.79086 10 10 10C12.2091 10 14 8.20914 14 6C14 3.79086 12.2091 2 10 2ZM5.00873 11C3.90315 11 3 11.8869 3 13C3 14.6912 3.83281 15.9663 5.13499 16.7966C6.41697 17.614 8.14526 18 10 18C11.8547 18 13.583 17.614 14.865 16.7966C16.1672 15.9663 17 14.6912 17 13C17 11.8956 16.1045 11 15 11L5.00873 11Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

img[src="/assets/packages/static/openvk/img/photos.svg"] {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99921 10C6.99921 8.34315 8.34235 7 9.99921 7C11.6561 7 12.9992 8.34315 12.9992 10C12.9992 11.6569 11.6561 13 9.99921 13C8.34235 13 6.99921 11.6569 6.99921 10ZM6.78288 2.82643C7.03751 2.31977 7.55609 2 8.12314 2H11.8873C12.4556 2 12.975 2.32106 13.229 2.8293L13.814 3.9994H15.5039C16.8846 3.9994 18.0039 5.11869 18.0039 6.4994V14.5C18.0039 15.8807 16.8846 17 15.5039 17H4.50391C3.12319 17 2.00391 15.8807 2.00391 14.5V6.4994C2.00391 5.11868 3.1232 3.9994 4.50391 3.9994H6.19339L6.78288 2.82643ZM9.99921 6C7.79007 6 5.99921 7.79086 5.99921 10C5.99921 12.2091 7.79007 14 9.99921 14C12.2083 14 13.9992 12.2091 13.9992 10C13.9992 7.79086 12.2083 6 9.99921 6Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

img[src="/assets/packages/static/openvk/img/messages.svg"] {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C8.72679 18 7.49591 17.7018 6.38669 17.1393L6.266 17.075L2.62109 17.9851C2.31127 18.0625 2.02622 17.8369 2.00131 17.5438L2.00114 17.4624L2.01493 17.3787L2.925 13.735L2.86169 13.6153C2.4066 12.7186 2.12433 11.7422 2.03275 10.7283L2.00738 10.3463L2 10C2 5.58172 5.58172 2 10 2ZM10.5 11H7.5L7.41012 11.0081C7.17688 11.0504 7 11.2545 7 11.5C7 11.7455 7.17688 11.9496 7.41012 11.9919L7.5 12H10.5L10.5899 11.9919C10.8231 11.9496 11 11.7455 11 11.5C11 11.2545 10.8231 11.0504 10.5899 11.0081L10.5 11ZM12.5 8H7.5L7.41012 8.00806C7.17688 8.05039 7 8.25454 7 8.5C7 8.74546 7.17688 8.94961 7.41012 8.99194L7.5 9H12.5L12.5899 8.99194C12.8231 8.94961 13 8.74546 13 8.5C13 8.25454 12.8231 8.05039 12.5899 8.00806L12.5 8Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

img[src="/assets/packages/static/openvk/img/groups.svg"] {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75 10C8.54493 10 10 8.54493 10 6.75C10 4.95507 8.54493 3.5 6.75 3.5C4.95507 3.5 3.5 4.95507 3.5 6.75C3.5 8.54493 4.95507 10 6.75 10ZM12.4373 15.1449C12.9668 15.3619 13.6409 15.5 14.4992 15.5C18.4992 15.5 18.4992 12.5 18.4992 12.5C18.4992 11.6716 17.8276 11 16.9992 11H12.3714C12.7641 11.4755 13 12.0852 13 12.75V13.0625C13 13.0625 13 13.0619 13 13.0646L13 13.0667L13 13.0713L12.9999 13.0814L12.9995 13.1058C12.9991 13.1238 12.9984 13.1453 12.9973 13.1701C12.995 13.2197 12.9908 13.2828 12.9835 13.3575C12.9688 13.5065 12.9408 13.7047 12.8875 13.9363C12.8096 14.2745 12.6743 14.6976 12.4373 15.1449ZM17 7.5C17 8.88071 15.8807 10 14.5 10C13.1193 10 12 8.88071 12 7.5C12 6.11929 13.1193 5 14.5 5C15.8807 5 17 6.11929 17 7.5ZM1.5 13C1.5 11.8954 2.39543 11 3.5 11H10C11.1046 11 12 11.8954 12 13C12 13 12 17 6.75 17C1.5 17 1.5 13 1.5 13ZM12.9995 13.1058L12.9973 13.1701L12.9995 13.1058Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

img[src="/assets/packages/static/openvk/img/feedback.svg"] {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4479 16.0016C12.2157 17.1419 11.2072 18 9.99824 18C8.78931 18 7.7808 17.1419 7.54856 16.0016H12.4479ZM9.99588 2C13.1448 2 15.7398 4.33488 15.9804 7.3554L15.9937 7.57762L15.9982 7.80214L15.9972 11.408L16.951 13.9951L16.9766 14.0796L16.9921 14.1664L16.9973 14.2546C16.9973 14.5697 16.8016 14.845 16.4753 14.9618L16.3618 14.9947L16.2473 15.0046H3.74959C3.66109 15.0046 3.57329 14.9889 3.49026 14.9583C3.20336 14.8526 3.01459 14.5865 3.00781 14.2422L3.01241 14.1247L3.04585 13.9952L3.99724 11.411L3.99832 7.79281L4.00262 7.56824C4.12524 4.45115 6.76926 2 9.99588 2Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.floating_sidebar .minilink {
    height: 20px
}

.floating_sidebar object,.post-opts label {
    display: flex;
    align-items: center
}

.post-opts label {
    gap: 5px
}

table td[width="120"] {
    vertical-align: middle
}

.poll-result-bar {
    background-color: rgba(255,255,255,.0605);
    border-radius: 4px
}

.poll-result-bar-sub {
    background-color: #757575;
    border-radius: 4px 0 0 4px
}

#auth .container_gray {
    width: 608px
}

#wallAttachmentMenu {
    width: max-content
}

#srch {
    position: absolute;
    left: 140px;
    float: left
}

.searchBtn,.whatFind {
    margin-top: 0;
    height: 25px
}

.whatFind {
    background-color: #2c2c2c!important;
    width: 100px
}

.searchBtn {
    border-radius: 4px;
    outline: 0;
    text-shadow: none;
    background-color: rgba(255,255,255,.0605);
    border: 0!important;
    color: #fff;
    font-size: 0;
    font-style: normal;
    font-weight: 400;
    box-shadow: none;
    margin-left: 0
}

#faqhead {
    background: #453c05;
    margin: 0 5px;
    padding: 5px;
    font-weight: 700;
    border-bottom: 0;
    border-radius: 4px
}

#faqcontent {
    background: #222
}

.album-photo img {
    max-width: 100%;
    padding: 0;
    background-color: transparent
}

.messenger-app--input {
    background-color: #282a2e;
    height: 95px!important
}

.menu_divider {
    background: rgba(255,255,255,.09)
}

.page_footer .link {
    padding: 4px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px
}

#newPlaylistAudios>div[style="width: 78%;float: left;"],.editContainer .playerContainer {
    width: 90%!important;
    max-width: 90%
}

.addToPlaylist {
    width: 10%;
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5.25C3 4.00736 4.00736 3 5.25 3H16.25C17.4926 3 18.5 4.00736 18.5 5.25V16.25C18.5 17.4926 17.4926 18.5 16.25 18.5H5.25C4.00736 18.5 3 17.4926 3 16.25V5.25ZM11.5 7.25C11.5 6.83579 11.1642 6.5 10.75 6.5C10.3358 6.5 10 6.83579 10 7.25V10H7.25C6.83579 10 6.5 10.3358 6.5 10.75C6.5 11.1642 6.83579 11.5 7.25 11.5H10V14.25C10 14.6642 10.3358 15 10.75 15C11.1642 15 11.5 14.6642 11.5 14.25V11.5H14.25C14.6642 11.5 15 11.1642 15 10.75C15 10.3358 14.6642 10 14.25 10H11.5V7.25ZM7.75002 20.9999C6.77036 20.9999 5.93693 20.3738 5.62805 19.4999H16.25C18.0449 19.4999 19.5 18.0448 19.5 16.2499V5.62793C20.3739 5.93681 21 6.77024 21 7.7499V16.2499C21 18.8733 18.8734 20.9999 16.25 20.9999H7.75002Z' fill='%23fff'/%3E%3C/svg%3E%0A")
}

.attachAudio {
    padding: 7px 0;
    border-radius: 8px
}

select[style="width: 164px;"] {
    width: 100%!important
}
#votesBalance{
    padding: 10px 8px;
    background-color: #232527;
    border-radius: 8px;
}
.avatar_block{
    border-radius: 8px;
    overflow: hidden;
}
